# Build artifacts
build/
bin/
*.o
*.obj
*.exe
*.out
*.cubin
# specifics
src/cub_radix
src/radix_gpu
monolithic/rsort

# CUDA / NVCC temp
*.fatbin
*.ptx
*.sass

# OS stuff
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log
