# Build artifacts
build/
bin/
*.o
*.d
*.obj
*.exe
*.out
*.cubin

# specifics
benchmark/cub_radix
benchmark/cub_radix_double
benchmark/rsort
examples/example_full
examples/example_basic
monolithic/validate_mono


# CUDA / NVCC temp
*.fatbin
*.ptx
*.sass

# OS stuff
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log
